<section data-ng-controller="WholeTeamListsController">
    <div class="page-header">
        <h1>Paid</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/whole-team-lists/create">
        <i class="glyphicon glyphicon-open"></i> New WholeTeamList
      </a>
    </div>

    <div>
        <table ng-table="tableParams"  class="table table-striped table-bordered table-condensed  ng-table-responsive" show-filter="true">
            <tr ng-repeat="wholeTeamList in $data" ng-class="{ 'emphasis': wholeTeamList.Paid == 'No' }">
                <td data-title="'LastName'" sortable="'LastName'" filter="{ 'LastName': 'text' }">{{wholeTeamList.LastName}}</td>
                <td data-title="'FirstName'" sortable="'FirstName'" filter="{ 'FirstName': 'text' }">{{wholeTeamList.FirstName}}</td>
                <td data-title="'Committee'" sortable="'Committee'" filter="{ 'Committee': 'text' }">{{wholeTeamList.Committee}}</td>
                <td data-title="'Paid'" sortable="'Paid'" filter="{ 'Paid': 'text' }">{{wholeTeamList.Paid}}</td>
                <td data-title="'PaidCash'" sortable="'PaidCash'" filter="{ 'PaidCash': 'text' }">{{wholeTeamList.PaidCash}}</td>
                <td data-title="'PaidAmount'" sortable="'PaidAmount'" filter="{ 'PaidAmount': 'text' }">{{wholeTeamList.PaidAmount}}</td>
                <td data-title="'CheckNumber'" sortable="'CheckNumber'" filter="{ 'CheckNumber': 'text' }">{{wholeTeamList.CheckNumber}}</td>
                <td data-title="'Roommate'" sortable="'Roommate'" filter="{ 'Roommate': 'text' }">{{needRoomMate($data, wholeTeamList.Roommate)}}</td>
                <td data-title="'Roommates'" sortable="'Roommates'" filter="{ 'Roommates': 'text' }">{{needRoomMates($data, wholeTeamList.Roommates)}}</td>
                <td data-title="'Building'" sortable="'Building'" filter="{ 'Building': 'text' }">{{wholeTeamList.Building}}</td>
                <td data-title="'Notes'" sortable="'Notes'" filter="{ 'Notes': 'text' }">{{wholeTeamList.Notes}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/whole-team-lists/{{wholeTeamList._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/whole-team-lists/{{wholeTeamList._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsMe(tableParams.data)"  filename="team-raw.csv">
                    <span class="glyphicon glyphicon-export">Team Raw</span></a>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsTeamPaidMeeting(tableParams.data)"  filename="team-paid-meeting.csv">
                    <span class="glyphicon glyphicon-export">Team Paid Meetings</span></a>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsTeamRoomMatesPaidAmount(tableParams.data)"  filename="team-roommate-paid-meeting.csv">
                    <span class="glyphicon glyphicon-export">Team Paid Roommates</span></a>
            </tr>
        </table>
    </div>
</section>
