<section data-ng-controller="ConfRoomTablesController" data-ng-init="toViewConfRoomTable()">
	<div class="page-header">
		<h1 data-ng-bind="confRoomTable.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="confRoomTable" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == confRoomTable.user._id))">
			<a class="btn btn-success" href="/#!/confRoomTables/{{confRoomTable._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="confRoomTable">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/confRoomTables">
				<i class="glyphicon glyphicon-list"></i> List ConfRoomTables
			</a>
		</div>

	</div>

</section>
