<section data-ng-controller="PilgrimRoomsController">
    <div class="page-header">
        <h1>Pilgrim rooms</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/pilgrim-rooms/create">
        <i class="glyphicon glyphicon-open"></i> New PilgrimRoom
      </a>
    </div>

    <div>
        <table ng-table="tableParams"  class="table table-striped table-bordered table-condensed ng-table-responsive" show-filter="true">
            <tr ng-repeat="pilgrimRoom in $data">
                <!--//TeamRoommate: {-->
                <!--//PilgrimRoommate1: {-->
                <!--//PilgrimRoommate2: {-->
                <!--//RoomNumber: {-->
                <!--//UpDown: {-->
                <!--//Building: {-->

                <td data-title="'Building'" sortable="'Building'" filter="{ 'Building': 'text' }">{{pilgrimRoom.Building}}</td>
                <td data-title="'RoomNumber'" sortable="'RoomNumber'" filter="{ 'RoomNumber': 'text' }">{{pilgrimRoom.RoomNumber}}</td>
                <td data-title="'UpDown'" sortable="'UpDown'" filter="{ 'UpDown': 'text' }">{{pilgrimRoom.UpDown}}</td>
                <td data-title="'TeamRoommate'" sortable="'TeamRoommate'" filter="{ 'TeamRoommate': 'text' }">{{pilgrimRoom.TeamRoommate}}</td>
                <td data-title="'PilgrimRoommate1'" sortable="'PilgrimRoommate1'" filter="{ 'PilgrimRoommate1': 'text' }">{{pilgrimRoom.PilgrimRoommate1}}</td>
                <td data-title="'PilgrimRoommate2'" sortable="'PilgrimRoommate2'" filter="{ 'PilgrimRoommate2': 'text' }">{{pilgrimRoom.PilgrimRoommate2}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/pilgrim-rooms/{{pilgrimRoom._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/pilgrim-rooms/{{pilgrimRoom._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(pilgrimRoom)" item="pilgrimRoom">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
            <tr>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsMe(tableParams.data)"  filename="pilgrim-rooms.csv">
                    <span class="glyphicon glyphicon-export"></span></a>
            </tr>
        </table>
    </div>
</section>
