<section data-ng-controller="TeamRoomsController">
    <div class="page-header">
        <h1>Team rooms</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/team-rooms/create">
        <i class="glyphicon glyphicon-open"></i> New TeamRoom
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="teamRoom in $data">

                <!--//Roommate1: {-->
                <!--//Roommate2: {-->
                <!--//RoomNumber: {-->
                <!--//Building: {-->

                <td data-title="'Building'" sortable="'Building'" filter="{ 'Building': 'text' }">{{teamRoom.Building}}</td>
                <td data-title="'RoomNumber'" sortable="'RoomNumber'" filter="{ 'RoomNumber': 'text' }">{{teamRoom.RoomNumber}}</td>
                <td data-title="'Roommate1'" sortable="'Roommate1'" filter="{ 'Roommate1': 'text' }">{{teamRoom.Roommate1}}</td>
                <td data-title="'Roommate2'" sortable="'Roommate2'" filter="{ 'Roommate2': 'text' }">{{teamRoom.Roommate2}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/team-rooms/{{teamRoom._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/team-rooms/{{teamRoom._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(teamRoom)" item="teamRoom">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
            <tr>
                <a type="button" class="btn btn-success " title='Export' ng-csv="cvsMe(tableParams.data)"  filename="team-rooms.csv">
                    <span class="glyphicon glyphicon-export"></span></a>
            </tr>
        </table>
    </div>
</section>
