<section data-ng-controller="TeamRoomsController" data-ng-init="toViewTeamRoom()">
	<div class="page-header">
		<h1 data-ng-bind="teamRoom.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="teamRoom" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == teamRoom.user._id))">
			<a class="btn btn-success" href="/#!/teamRooms/{{teamRoom._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="teamRoom">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/teamRooms">
				<i class="glyphicon glyphicon-list"></i> List TeamRooms
			</a>
		</div>

	</div>

</section>
