<section data-ng-controller="PilgrimsController" data-ng-init="toViewPilgrim()">
	<div class="page-header">
		<h1 data-ng-bind="pilgrim.name"></h1>
	</div>

	<div class="col-md-12">

		<form novalidate>
			<formly-form model="pilgrim" fields="formFields">
			</formly-form>
		</form>

		<hr/>
		<div data-ng-show="((authentication.user) && (authentication.user._id == pilgrim.user._id))">
			<a class="btn btn-success" href="/#!/pilgrims/{{pilgrim._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i> Edit
			</a>
			<a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove()" item="pilgrim">
				<i class="glyphicon glyphicon-remove-circle"></i> Delete
			</a>
			<a class="btn btn-primary" href="/#!/pilgrims">
				<i class="glyphicon glyphicon-list"></i> List Pilgrims
			</a>
		</div>

	</div>

</section>
